---
import Layout from "../../../layouts/Layout.astro";
import PlotFigure from "../../../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import alphabet from "../../../assets/alphabet.json";

export const prerender = false;

const plotOptions = {
  grid: true,
  marks: [
    Plot.barY(alphabet, {
      x: "letter",
      y: "frequency",
      fill: "skyblue",
    }),
  ],
  x: { label: "Letter" },
  y: { label: "Frequency" },
  title: "Fréquence des lettres",
};
---

<Layout>
  <a class="btn btn-link mb-4" href="/rendu-dynamique">← Retour à la liste</a>
  <h1 class="text-3xl font-bold mb-4 text-primary">Alphabet</h1>
    <div class="bg-base-200 rounded-box p-4">
      <PlotFigure options={plotOptions} />
    </div>
</Layout>
