---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="min-h-screen flex flex-col bg-base-100 text-base-content">

    <nav class="navbar bg-base-200 text-primary-content">
      <div class="container mx-auto flex gap-4">
        <a href="/"><span class="btn btn-ghost normal-case text-lg text-neutral hover:bg-primary hover:text-base-100">Accueil</span></a>
        <a href="/penguins" class="btn btn-ghost normal-case text-lg text-neutral hover:bg-primary hover:text-base-100">Tous les graphiques</a>
        <a href="/rendu-dynamique" class="btn btn-ghost normal-case text-lg text-neutral hover:bg-primary hover:text-base-100">Rendu dynamique</a>
        <a href="/rendu-statique" class="btn btn-ghost normal-case text-lg text-neutral hover:bg-primary hover:text-base-100">Rendu statique</a>
      </div>
    </nav>

    <main class="flex-1 container mx-auto p-6">
      <slot />
    </main>
  </body>
</html>
