---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="min-h-screen flex flex-col">

    <nav class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex gap-4">
        <a href="/penguins" class="hover:underline">Tous les graphiques</a>
        <a href="/rendu-dynamique" class="hover:underline">Rendu dynamique</a>
        <a href="/rendu-statique" class="hover:underline">Rendu statique</a>
      </div>
    </nav>

    <main class="flex-1 container mx-auto p-6">
      <slot />
    </main>
  </body>
</html>
